<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528008030091-48sqrgodub3eanoo6inpkkeufqsg62v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528008030091-48sqrgodub3eanoo6inpkkeufqsg62v8</string>
	<key>API_KEY</key>
	<string>AIzaSyAwEnzfeeMTiz745wrlaOS4eVKPY4juPz8</string>
	<key>GCM_SENDER_ID</key>
	<string>528008030091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redwater.myLocalMarket</string>
	<key>PROJECT_ID</key>
	<string>my-local-market-5a9ac</string>
	<key>STORAGE_BUCKET</key>
	<string>my-local-market-5a9ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528008030091:ios:a4044ad82589a02da0318e</string>
</dict>
</plist>